<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Search Pokemon Favorit</title>
    <style>
    body {
        background-color: navy;
       }
    </style>
</head>
<body>
    <center><br>
        <br>
        <br><br>
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/pokemon.png" alt="">
    <h1>Masukkan Nama Pokemon Favorit Kamu</h1>
    <hr>
    <form method='POST' action='http://localhost:5000/hasil'>
        <input type='text' name='pokemon' placeholder="Pokemon favoritku"/>
        <input type='submit' value='Cari Pokemon'/>
    </form>
    </center>
</body>
</html>