<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>
<body style="background-image: url({{ url_for('static',filename='new.jpg') }});background-size: cover;">
    <center>
    <img src="https://archive-media-1.nyafuu.org/vp/image/1512/00/1512001609452.png"><br><br><br>
    <form action = "http://127.0.0.1:5000">
        <button style="height:45px;width:500px;font-size: 40px;text-align: center;line-height: 40px; background-color: tomato; color:cornsilk;">🔙Back</button>
        </form>
    </center>
</body>
</html>